/* body {
  background-image: url(background.jpg);
  background: cover;
  background-repeat: no-repeat;
} */
.original{
  background-image: url(background.jpg);
  background: cover;
  background-repeat: no-repeat;
}
.green-background {
  background-color: green;
}
.yellow-background {
  background-color: yellow;
}
.red-background {
  background-color: red;
}
.light {
  background-color: bisque;
  color: black;
}
.dark {
  background-color: black;
  color: bisque;
}

.column {
  width:30%;
  float:left;
  margin: 6px;
  border: 5px solid #BFFB33;
  padding: 4px;
}
.kangaroo {
  width: 100%;
}
.koala {
  width: 100%;
}
.taz {
  width: 100%;
}
h1 {
  text-align: center;
}
.great p {
font-family: cursive;
}
body {
  text-shadow: rgb(223, 14, 14) 1px 0 10px;
  color: white
}